<!DOCTYPE html>
<html lang="en" dir="ltr" class="overflow-x-hidden">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/General.css">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <link rel="shortcut icon" href="icons/header-app-blue.svg">
  <title>Заявка</title>
</head>

<body>
  <div id="app">

    <!-- Шапка -->

    <nav class="shadow navbar navbar-expand-lg navbar-light bg-light w-100">
      <div class="p-0 container-fluid">
        <a href="index.html" class="p-0 btn mr-auto pl-0 ml-0 ml-md-3 ml-lg-4 ml-xl-5 d-flex mt-2">
          <img src="icons/logo-black.svg" class="mb-2" />
          <div class="w-100 mt-1 logo">
            <span class="font-weight-bold mr-1">Specialists</span><br />
            <span class="ml-2 font-weight-bold">Upper Volga</span>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mb-2 mb-lg-0 ml-auto">
            <li class="nav-item">
              <a href="index.html" class="btn my-2 pt-2 header-hover header-mob">
                <img src="icons/header-main.svg" class="header-icon text-right" />
                <span class="header-font ml-4 ml-lg-0">Главная</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="app.html" class="btn my-2 pt-2 header-blue header-mob pt-2">
                <img src="icons/header-app-blue.svg" class="header-icon" />
                <span class="header-font ml-4 ml-lg-0">Заявка</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="search.html" class="btn my-2 header-hover header-mob">
                <img src="icons/header-search.svg" class="header-icon" />
                <span class="header-font ml-4 ml-lg-0">Поиск</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="education.html" class="btn my-2 header-hover header-mob pt-2">
                <img src="icons/header-education.svg" class="header-icon" />
                <span class="header-font ml-2 ml-lg-0">Обучение</span>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 ml-auto mr-0 mr-lg-5">
            <li class="nav-item mt-0 ml-auto mr-0">
              <a href="registration.html" class="ml-auto mr-0" style="cursor: pointer; text-decoration: none;">
                <span class="font-weight-bold">Регистрация</span>
                <img src="icons/header-user.svg" class="ml-1" style="width: 40px;" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Шапка - конец -->

    <h1 class="text-center mt-md-4 mt-3" style="color:#2d2d2d; font-size: 36pt">Заявка</h1>

    <!-- Форма -->

    <div class="main mt-md-4 border round shadow bg-white mr-auto ml-auto">
      <p id="p" class="mt-3 ml-4 time">Время</p>
      <div class="row m-0">

        <!-- Текстовые поля для заполнения -->

        <div class="col-lg-3 col-xl-3 col-md-11 mb-sm-0 mt-md-2 ml-lg-4 ml-md-4 mx-sm-4 mx-2" id="inputs">
          <form name="contact">
            <span class="text-center d-block mr-1 headers mb-3">Контактные данные</span>
            <input type="text" name="Comp" placeholder="Название компании" class="fill"><br>
            <input type="text" name="Fio" placeholder="ФИО" class="fill"><br>
            <input type="tel" name="Tel" placeholder="Телефон" class="fill"><br>
            <input type="text" name="email" placeholder="E-mail" class="fill"><br>
            <textarea name="Comm" placeholder="Комментарий" class="fill"></textarea>
          </form>
        </div>

        <!-- Текстовые поля для заполнения - конец -->

        <div class="col-lg-8 col-md-12 col-sm-12 mt-md-2 mt-lg-0">
          <div class="row" style="width:110% !important;">

            <!-- Выбор навыков по компетенциям и направлениям -->

            <div class="bloc mx-2 mx-sm-0 ml-lg-1 mt-sm-4 mt-lg-2"><span
                class="text-center d-block mr-1 headers mb-3">Направления</span>
              <ul class="list-group catList list" id="categories">
                <li v-for="(category, index) in categories"
                  :class="{ 'list-group-itemActive': selCategoryItem == index, 'list-group-item': selCategoryItem != index }"
                  @click="selCategory(index)">{{ category.title }}</li>
              </ul>
            </div>
            <div class="bloc mx-2 mx-sm-0 mx-md-0 a1 mt-4 mt-sm-4 mt-lg-2"><span
                class="text-center d-block mr-3 headers mb-3">Компетенции</span>
              <ul class="list-group list" id="competencies">
                <li v-for="(competency, index) in competencies"
                  :class="{ 'list-group-itemActive': selCompetencyItem == index, 'list-group-item': selCompetencyItem != index }"
                  @click="selCompetency(index), renameSpecialist(index)">{{ competency.title }}</li>
              </ul>
            </div>
            <div class="skillBloc bloc mx-2 mx-md-0 mt-4 mt-sm-4 mt-lg-2"><span
                class="text-center d-block mr-3 headers mb-3">Навыки</span>
              <ul class="list-group list skillsList" id="skills">
                <li v-for="(skill, index) in skills"
                  :class="{ 'list-group-itemActive': specialists[selectSpecialist].selectSkills.includes(skill.title), 'list-group-item': !specialists[selectSpecialist].selectSkills.includes(skill.title) }"
                  @click="selSkill(index)"> {{ skill.title }} </li>
              </ul>
            </div>

            <!-- Выбор навыков по компетенциям и направлениям - конец -->

          </div>
          <div class="row">

            <!-- Специалисты -->

            <div class="m-0 p-0 ml-3 ml-md-4 ml-lg-1 ml-sm-4 mt-2" id="basementForm">

              <!-- Добавление спецов -->

              <div class="row w-100">
                <div>
                  <button class="specAdd mt-3 mb-3 ml-4 ml-md-3 ml-lg-3" @click="addPerson()"><img
                      src="icons/app-add.svg" alt=""><span class="ml-2">Добавить</span></button>
                </div>
              </div>

              <div v-for="(specialist, indexSpecialist) in specialists">
                <div class="row mr-0 p-0 mt-2" :class="{ 'unactive': indexSpecialist != selectSpecialist}">

                  <!-- <div class="col-12 ml-5 mt-2 mb-2 font-weight-bold">Творчес</div> -->

                  <div id="personList">
                    <div class="d-flex flex-column rounded ml-4 ml-md-3 ml-lg-3">
                      <div class="input-group-append mt-0" id="groupButtonsPerson"
                        @click="selectPerson(indexSpecialist, $event.target)">
                        <button class="btn rounded-left" type="button" id="deletePerson"
                          @click="deletePerson(indexSpecialist)">╳</button>
                        <button class="btn active specs specsWidth rounded-0" type="button">
                          <img src="icons/contact-book.svg" alt="">
                          <span>{{ specialist.nameSpecialist }}</span>
                        </button>
                        <button class="btn operation Minus" type="button"
                          @click="operationMinus(indexSpecialist)">－</button>
                        <input type="text" class="counter active" :value="specialist.count"></input>
                        <button class="btn operation Plus rounded-right" type="button"
                          @click="operationPlus(indexSpecialist)">＋</button>
                      </div>
                      <!-- <div
                        class="pt-1 pl-3 pr-3 d-flex justify-content-between selPersonsCounters border-right border-left border-secondary">
                        <span class="">Стоимость</span>
                        <span class=""></span>
                      </div> -->
                      <div
                        class="pt-2 pl-3 pr-3 pb-2 d-flex selPersonsCounters border-primary rounded-bottom border-bottom border-right border-left">
                        <span class="mr-1">Зарплата</span>
                        <img style="width: 15px;" src="icons/app-help.svg" v-bind:title="message" />
                      </div>
                    </div>
                  </div>

                  <!-- Кол-во спецов - конец -->

                  <!-- Скиллы -->

                  <div class="p-0 col-12 col-lg-7  col-md-12 mt-md-1 mt-sm-2 mt-2 mt-lg-0">
                    <div class="d-flex flex-wrap mt-1 ml-2 ml-md-0 ml-lg-1 mr-sm-0 selectsWidth" id="selects">
                      <span class="box p-1 pl-2 mb-1" v-for="(skill, indexSkill) in specialist.selectSkills">
                        {{ skill }}
                        <span class="ml-2 mb-1 mr-1 badge badge-pill badg pb-1" id="closed"
                          @click="deleteSkill(indexSpecialist, indexSkill)">✕</span>
                      </span>
                    </div>
                  </div>

                  <!-- Скиллы - конец -->

                </div>
              </div>
            </div>

            <!-- Специалисты - конец -->

            <!-- Фидбек формы отправки -->

            <div class="mt-2 row w-75 ml-3" id="feedbackMessage">
              <span></span>
            </div>

            <!-- Фидбек формы отправки - конец -->
          </div>
        </div>
      </div>
    </div>

    <!--  Форма - конец -->

    <!-- Отправочная кнопка -->

    <input type="button" class="send mt-4 px-5 py-2" value="Отправить" onclick="Send()"></button>
    <p class="text-center mt-3 pb-3" style="opacity: 0.3; font-size: 15px">Нажимая кнопку "Отправить", вы даёте согласие
      на обработку
      персональных данных<br>и соглашетесь с политикой конфиденциальности.</p>

    <!-- Отправочная кнопка - конец -->

    <!-- Подвал -->

    <div class="footer">
      <div class="pt-5">
        <div class="info_link mx-auto w-50 row d-flex pt-5 container-fluid text-light justify-content-center">
          <div class="w-100 footer_info_column col-12 col-lg-2  d-flex flex-column ">
            <span class="font-weight-bold h5 mb-3" style="min-width: 135px">О компании</span>
            <a class="mb-2 footer-h">Наши партнеры</a>
            <a class="mb-2 footer-h">Реквизиты</a>
            <a class="mb-2 footer-h">Услуги</a>
          </div>
          <div class="w-100 footer_info_column col-12 col-lg-3 d-flex flex-column">
            <span class="font-weight-bold h5 mb-3">Контактные данные</span>
            <a href="https://lazur.media" class="mb-2 footer-h">lazur.media</a>
            <a class="mb-2 footer-h">г. Тверь, ул. Гагарина, д. 1, офис 1 </a>
            <a class="mb-2 footer-h">+7 (905) 604-08-88</a>
          </div>
          <div class="w-100 footer_info_column col-12 col-lg-2 d-flex flex-column ">
            <span class="font-weight-bold h5 mb-3">Помощь</span>
            <a class="mb-2 footer-h">Вход и регистрация</a>
            <a class="mb-2 footer-h">FAQ</a>
          </div>
        </div>
        <div class=" d-flex flex-column mt-5">
          <div class="d-flex justify-content-center">
            <a><img class="mx-4 footer-h" src="icons/footer-facebook.svg" /></a>
            <a><img class="mx-4 footer-h" src="icons/footer-instagram.svg" /></a>
            <a><img class="mx-4 footer-h" src="icons/footer-twitter.svg" /></a>
          </div>

          <div class="d-block text-light text-center mt-5 mb-4 pt-3 mx-5"
            style="border-top: 1px solid rgba(255, 255, 255, 0.1);">
            <span style="opacity: 0.6" class="mb-3">© Specialists Upper Volga, 2021</span> <br>
            <span class="text-center ml-1" style="opacity: 0.3; cursor: default">Все права
              защищены</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Подвал - конец -->

  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/app.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</html>