/* Общее */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  outline: none;
}

h1 {
  color: rgba(45, 45, 45, 1);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

::placeholder {
  opacity: 0.7;
}

 .btn, .btn:active, .btn:focus {
  box-shadow: none;
  border: none;
  outline: none;
  border: none;
}

.bg-white{
  background-color: white;
}

.time {
  color: rgba(0, 0, 0, 0.3);
  font-size: 10pt;
}

.main {
  width: 70%;
}

.round {
  border-radius: 10px !important;
}

.headers {
  font-size: 11pt;
  opacity: 0.7;
  font-weight: 500;
}

/* Полоса прокрутки */

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: #acacac;
}


/* Полоса прокрутки -конец */
/* Общее - конец */

/* Контактные данные */

.fill {
  margin-bottom: 5%;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(48, 68, 78, 0.3);
  border-radius: 5px;
  padding: 4px 0px 10px 10px;
  width: 100%;
  height: 60px;
  opacity: 0.9;
}

.fill:hover {
  border: 2px solid rgba(0, 123, 255, 1);
  opacity: 1;
}

.fill:focus {
  opacity: 1;
  border: rgba(0, 123, 255, 1) solid 2px;
  color: rgba(48, 68, 78, 1);
  font-weight: 600;
}

.fillActive {
  margin-bottom: 5%;
  opacity: 0.8;
  border: rgba(0, 123, 255, 1) solid 2px;
  color: rgba(48, 68, 78, 1);
  font-weight: 600;
  border-radius: 5px;
  padding: 4px 0px 10px 10px;
  width: 100%;
  height: 60px;
}

.fillActive:hover {
  border: 2px solid rgba(0, 123, 255, 1);
  opacity: 1;
}

.fillAlert {
  margin-bottom: 5%;
  color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 0, 0, 0.3);
  border-radius: 3px;
  padding: 4px 0px 10px 10px;
  width: 100%;
  height: 50px;
  opacity: 0.9;
}

textarea {
  min-height: 150px;
  max-height: 260px;
  overflow: hidden;
}

textarea:focus {
  opacity: 1;
  border: rgba(0, 123, 255, 1) solid 2px;
  color: rgba(48, 68, 78, 1);
  font-weight: 600;
}

/* Контактные данные - конец */

/* Списки */

.bloc {
  display: inline-block;
  vertical-align: top;
  width: 250px;
}

.bloc ul {
  background-color: #f7faff;
  font-size: 9pt;
}

.catList {
  overflow-y: hidden !important;
  border-right: rgba(48, 68, 78, 0.4) solid 2px;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.skillsList {
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 25.3em;
  font-weight: 500;
  border-radius: 0px;
  -webkit-user-select: none;
  box-shadow:  0px 4px 8px 0px rgba(50, 50, 50, 0.15);;
}

/* Списки - конец*/

/* Элементы списка */

.list-group-item {
  border: 0;
  background-color: #F7F8FC;
  font-size: 13px;
  color: rgba(45, 45, 45, 0.8);
  cursor: pointer;
  padding: 11px 15px;
  margin: 0px 20px;
  font-weight: 500;
}

.list-group-item:hover {
  background-color: rgb(228, 237, 252);
  border-radius: 10px;
}

.list-group-itemActive {
  background-color: rgba(0, 123, 255, 1);
  border-radius: 10px;
  padding: 11px 15px;
  margin: 1px 20px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.box {
  background-color: rgba(45, 45, 45, 0.1);
  font-size: 9pt;
  border-radius: 2em;
}

.badg {
  border-radius: 1em;
  color: white;
  background-color: rgba(45, 45, 45, 0.6);
  cursor: pointer;
}

.aler {
  position: absolute;
  visibility: hidden;
}

/* Элементы списка - конец*/

/* Добавление и изменение спецов */

.input-group-append{
  height: 30px;
  max-height: 30px;
}

.specs {
  background-color: rgba(0, 123, 255, 1);
  color: aliceblue;
  font-size: 13px;
  font-weight: 600;
  padding: 0px;
  outline: 0 !important;
  text-decoration: none;
  border-radius: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.specs:hover {
  color: aliceblue;
  background-color: rgb(37, 139, 248);
}

.specsWidth {
  width: 190px !important;
}

.specAdd {
  border-radius: 5px;
  border: 1px solid rgba(45, 45, 45, 0.65);
  background-color: rgb(237, 237, 237);
  color: #2d2d2d;
  font-size: 12px;
  padding: 1px 3px;
  font-weight: 400;
  width: 120px;
  height: 30px;
}

.specAdd:hover {
  background-color: rgb(233, 233, 233);
}

.specAdd:active {
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 0px 4px 0px rgb(151, 150, 150);
  outline: none;
}

.specAdd:focus {
  outline: none;
}

.counter {
  background-color: rgba(53, 150, 255, 1);
  color: aliceblue;
  border: none;
  text-align: center;
  width: 30px;
  border-radius: 0;
}

.operation {
  padding: 0px;
  background-color:rgba(53, 150, 255, 1);
  color: aliceblue;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  -webkit-user-select: none;
  width: 25px;
  border-radius: 0;
}

.Minus{
  border-left:1px solid rgb(14, 87, 165);
}

.operation:hover {
  color: aliceblue;
  background-color: rgb(70, 154, 245);
}

.fillSkill{
  width: 60%;
  height: 35px;
}

.fillSkill::placeholder {
  opacity: 0.6;
}

#deletePerson{
  background-color:rgba(53, 150, 255, 1);
  color: aliceblue;
  font-size: 13px;
  width: 30px;
  padding-top: 3px;
  padding-left: 8px;
  border-radius: 0;
}

.selectsWidth {
  width: 115% !important;
}

#deletePerson:hover {
  background-color: rgb(70, 154, 245);
}

#addSkill {
  height: 35px;
  width: 30px;
}

.unactive {
  opacity: 0.75 !important;
}

.active {
  border-right: 1px solid rgb(14, 87, 165) !important;
  border-left: 1px solid rgb(14, 87, 165) !important;
}

/* Добавление и изменение спецов - конец */

/* Кнопка отправки */

.send {
  display: block;
  margin: 0 auto;
  background-color: rgba(0, 123, 255, 1);
  color: white;
  font-size: 17pt;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 250px;
  height: 60px;
}

.send:hover {
  background-color: rgb(4, 119, 241);
  color: rgb(243, 241, 241);
  box-shadow: 0px 3px 3px 0px rgb(167, 167, 167);
}

.send:active {
  color: rgb(231, 228, 228);
  box-shadow: 0px 3px 3px 0px gray;
  background-color: rgb(0, 106, 219);
}

.send:focus {
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 17pt;
  font-weight: bold;
  border: none;
}

/* Кнопка отправки - конец*/

/* Мобилка */

@media screen and (max-width: 400px) {
  .bloc {
    width: 87%;
    position: relative;
    left: 5%;
  }

  .main {
    width: 100%
  }

  .specsWidth {
    width: 55vw !important;
  }

  .selectsWidth {
    width: 95% !important;
  }
}

@media screen and (min-width: 401px) {
  .bloc {
    width: 87%;
    position: relative;
    left: 5%;
  }

  .main {
    width: 100%
  }

  .specsWidth {
    width: 60vw !important;
    max-width: 250px;
  }

  .selectsWidth {
    width: 100% !important;
  }
}

@media screen and (min-width: 500px) {
  .bloc {
    width: 87%;
    position: relative;
    left: 4%;
  }

  .main {
    width: 100%
  }

  .specsWidth {
    width: 65vw !important;
    max-width: 250px;
  }

  .selectsWidth {
    width: 100% !important;
  }
}

@media screen and (min-width: 650px) {
  .bloc {
    width: 45%;
    position: relative;
    left: 3%;
  }

  .skillBloc {
    width: 90% !important;
    position: relative;
    left: 2%;
  }

  .main {
    width: 95%
  }

  .specsWidth {
    width: 50vw !important;
    max-width: 250px;
  }

  .selectsWidth {
    width: 95% !important;
  }
}

@media screen and (min-width: 768px) {
  .bloc {
    width: 30%;
    position: relative;
    left: 3%;
  }

  .skillBloc {
    width: 30% !important;
    position: relative;
    left: 3%;
  }

  .main {
    width: 95%
  }

  .specsWidth {
    width: 50vw !important;
    max-width: 250px;
  }
}

@media screen and (min-width: 850px) {
  .bloc {
    width: 30%;
    position: relative;
    left: 2%;
  }

  .skillBloc {
    width: 30% !important;
  }

  .main {
    width: 95%
  }

  .specsWidth {
    width: 150px !important;
  }
}

@media screen and (min-width: 992px) {
  .bloc {
    width: 32%;
    position: relative;
    left: 0;
  }

  .skillBloc {
    width: 32% !important;
  }

  .main {
    width: 97%
  }

  .specsWidth {
    width: 150px !important;
  }

 .list-group-item {
  border: 0;
  background-color: #F7F8FC;
  font-size: 13px;
  color: rgba(45, 45, 45, 0.8);
  cursor: pointer;
  padding: 11px 10px;
  margin: 0px 13px;
}

  .list-group-itemActive {
  background-color: rgba(0, 123, 255, 1);
  border-radius: 10px;
  padding: 11px 10px;
  margin: 1px 13px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-weight: 400;
}
}

@media screen and (min-width: 1200px) {
  .bloc {
    width: 33%;
    position: relative;
    left: 0;
  }

  .skillBloc {
    width: 33% !important;
  }

  .main {
    width: 70%;
    min-width: 1200px;
  }

  .specsWidth {
    width: 190px !important;
  }

 .list-group-item {
  border: 0;
  background-color: #F7F8FC;
  font-size: 13px;
  color: rgba(45, 45, 45, 0.8);
  cursor: pointer;
  padding: 11px 15px;
  margin: 0px 20px;
}

  .list-group-itemActive {
  background-color: rgba(0, 123, 255, 1);
  border-radius: 10px;
  padding: 11px 15px;
  margin: 1px 20px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-weight: 400;
}

  .selectsWidth {
    width: 115% !important;
  }

}

/* Мобилка - конец*/
